<div class="profesi-container d-flex flex-sm-row flex-column">
    <div class="d-flex flex-column justify-content-center align-items-center mr-auto p-4 text-center">
            <h1><b><%-data.name-%></b></h1>
            <p><%-data.motto-%></p>
            <ul class="icon-list d-flex">
                <li><a href="<%-data.facebook-%>"><img class="social-media-icon" src="/assets/icons/facebook-icon.png" alt=""></a></li>
                <li><a href="https://www.twitter.com/"><img class="social-media-icon" src="/assets/icons/twiter-icon.png" alt=""></a></li>
                <li><a href="<%-data.linkedin-%>"><img class="social-media-icon" src="/assets/icons/linkedin-icon.png" alt=""></a></li>
                <li><a href="<%-data.instagram-%>"><img class="social-media-icon" src="/assets/icons/instagram-icon.png" alt=""></a></li>
            </ul>
    </div>
        <div class="hero-image d-flex justify-content-center"><img src="/assets/image/FARHANN.webp" class="hero-img img-fluid" alt="..."></div>
</div>  