<!-- 
    <table border="1" cellspacing="0" cellpadding="" style="font-size:12px">
        <tr>
            <td>Name</td>
            <td class="pr-4">: <%-data.name %></td>
            <td>Degree</td>
            <td>: <%-data.degree %></td>
        </tr>
        <tr>
            <td>Age</td>
            <td>: <%-data.age %></td>
            <td>Phone</td>
            <td>: <%-data.phone %></td>
        </tr>
        <tr>
            <td class="pr-4">Location</td>
            <td>: <%-data.location %></td>
            <td>Email</td>
            <td>: <%-data.email %></td>
        </tr>
    </table> -->

<!--
<div class="table-responsive">
    <table class="d-flex" style="font-size:12px">
        <tr>
            <td>Name</td>
            <td class="pr-4">: <%-data.name %></td>
            <td>Phone</td>
            <td>: <%-data.phone %></td>
            <td>Email</td>
            <td>: <%-data.email %></td>
        </tr>
        <tr>
            <td>Degree</td>
            <td>: <%-data.degree %></td>
            <td>Age</td>
            <td>: <%-data.age %></td>
            <td class="pr-4">Location</td>
            <td>: <%-data.location %></td>
        </tr>
    </table>
</div>

<div class="table-responsive">
    <table class="table">
      <tr class="d-flex flex-wrap">
        <td>Name</td>
        <td>: <%-data.name %></td>
        <td>Degree</td>
        <td>: <%-data.degree %></td>
      </tr>
      <tr class="d-flex flex-wrap">
        <td>Age</td>
        <td>: <%-data.age %></td>
        <td>Phone</td>
        <td>: <%-data.phone %></td>
      </tr>
      <tr class="d-flex flex-wrap">
        <td>Location</td>
        <td>: <%-data.location %></td>
        <td>Email</td>
        <td>: <%-data.email %></td>
      </tr>
    </table>
  </div>
   -->

   <div class="aboutme table-responsive w-100">
    <table class="float-left mr-5">
        <tr>
            <td style="width:100px">Name</td>
            <td>: <%-data.name %></td>
        </tr>
        <tr>
            <td>Age</td>
            <td>: <%-data.age %></td>
        </tr>
        <tr>
            <td>Location</td>
            <td>: <%-data.location %></td>
        </tr>
    </table>
    <table>
        <tr>
            <td style="width:100px">Degree</td>
            <td>: <%-data.degree %></td>
        </tr>
        <tr>
            <td>Phone</td>
            <td>: <%-data.phone %></td>
        </tr>
        <tr>
            <td>Email</td>
            <td>: <%-data.email %></td>
        </tr>
    </table>
</div>

